body{

}

h1{
  margin-left: 35%;
  color: #800000;
  font-size: 80px;
  font-family: 'Merienda', cursive;
}

#navigation{

}

.projects {
  position: absolute;
  left:50%;
  top:25%;
  height: 150px;
  width: 160px;
 background-color: #f090dd;
 color: white;
 text-align: center;
  font-family: 'Merienda', cursive;
 font-size: 28px;
 font-weight: bold;
}


.womenintech {
  position: absolute;
  left: 58%;
  top: 40%;
  height: 140px;
  width: 280px;
  background-color: #89dbf0;
  color: white;
  text-align: center;
  font-family: 'Merienda', cursive;
  font-size: 28px;
  font-weight: bold;
}

.animation {
  position: absolute;
  left: 64%;
  top: 58%;
 height: 240px;
 width: 120px;
background-color:#a1b3b2;
color: white;
text-align: center;
font-family: 'Merienda', cursive;
font-size: 28px;
font-weight: bold;
word-wrap: break-word;
}

.about{
  position: absolute;
  left: 45%;
  top: 62%;
 height: 150px;
 width: 150px;
background-color: #faf20a;
color: white;
text-align: center;
font-family: 'Merienda', cursive;
font-size: 28px;
font-weight: bold;
}

.blog {
  position: absolute;
  left: 50%;
  top: 80%;
 height: 140px;
 width: 220px;
background-color: #b1e007;
color: white;
text-align: center;
font-family: 'Merienda', cursive;
font-size: 28px;
font-weight: bold;
}

.logos{
  position: absolute;
  left: 40%;
  bottom: 18%;
}

footer{
  font-size: 15px;
  text-align: center;
  font-family: cursive;
  position: absolute;
  top: 95%;
  left: 77%;
}
