body{
  font-size: 16px;
  font-family:sans-serif;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

}


#title{
  color: white;
  font-size: 40px;
  font-family: 'Merienda', cursive;
  text-align: center;
}

.navigation1 {
  text-decoration-color: white;
  font-size: 18px;
  margin: 0px 0px 50px 0px;
  text-align: center;
  letter-spacing: 4px;
  position: sticky;
}

a {
  color: white;
  text-decoration: none;
}



.logos {
  float: right;
}

.form-submit{
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
}

.form-submit:hover {background-color: grey}




footer{
  color: white;
  font-size: 15px;
  text-align: center;
}
